<div class="col-md-6 col-md-offset-3">
  <h2>Fill in username and email to reset password</h2>
  <form name="form" (ngSubmit)="f.form.valid && requestResetPassword()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="model.userName" #username="ngModel" required />
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userEmail.valid }">
          <label for="userEmail">Email</label>
          <input type="email" class="form-control" name="userEmail" [(ngModel)]="model.userEmail" #userEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
          <div *ngIf="f.submitted && !userEmail.valid" class="help-block">Email is empty or wrong format</div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary">Request reset password</button>
      </div>
  </form>
</div>