<div class="col-md-6 col-md-offset-3">
  <h1>Hi Jordy!</h1>
  <h3>These are all registered users:</h3>
</div>
<button (click)="save()">Save</button>
<div class="d-flex flex-wrap">
  <div class="card" style="width: 19rem;" *ngFor="let user of users">
    <div class="card-body">
      <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: {{user.email}}</li>
        <li class="list-group-item">Is accepted:
            <input type="checkbox" [(ngModel)]="user.isAccepted" (ngModelChange)="AddToChanged(user)"> </li>
        <li class="list-group-item">Can watch full size:
          <input type="checkbox" [(ngModel)]="user.canWatchFullSize" (ngModelChange)="AddToChanged(user)"> </li>
        <li class="list-group-item">Can download:
          <input type="checkbox" [(ngModel)]="user.canDownload" (ngModelChange)="AddToChanged(user)"> </li>
        <li class="list-group-item">Is admin:
          <input type="checkbox" [(ngModel)]="user.isAdmin" (ngModelChange)="AddToChanged(user)"> </li>
          
      </ul>
    </div>
  </div>
</div>